@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* dev purposes, remove when commit */
body {
  background: #101010;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 55px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loader .loader-dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  transform: scale(0.4);
  animation: loadot 0.6s infinite;
}

.loader-dot:nth-child(2) {
  animation-delay: 0.3s;
}
.loader-dot:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loadot {
  0%,
  100% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(1);
    background-color: #ff550b;
  }
}
