{
  "extends": [
    "airbnb", 
    "prettier", 
    "airbnb-typescript"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": ["error", {
      "endOfLine": "auto"
    }],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
  }],
    "@typescript-eslint/comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "enums": "always-multiline",
      "functions": "never"
  }],
    "@typescript-eslint/quotes": [2, "double", { "avoidEscape": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/function-component-definition": [2, { "namedComponents": "arrow-function", "unnamedComponents": "arrow-function" }]
  },
  "env": {
    "browser": true
  },
  "parserOptions": {
    "project": ["./tsconfig.json"]
  }
}